<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/inicio"></ion-back-button>
      </ion-buttons>
      <ion-title>Escanear</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <!-- Imagen que se mostrará -->
    <ion-img [src]="'assets/QR.jpeg'" id="imageToDisplay"></ion-img>
    
    <!-- Botón para mostrar la imagen y almacenar datos -->
    <ion-button (click)="mostrarImagenYGuardarMensaje()">Guardar Mensaje</ion-button>
  </ion-content>
  