<ion-header>
  <ion-toolbar>
    <ion-title>
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Agrega un ion-card-header para mostrar el nombre de usuario y el mensaje de bienvenida -->
  <ion-card-header>
    <ion-card-title>
      ¡Bienvenido, {{ username }}!
    </ion-card-title>
  </ion-card-header>

  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button routerLink="/inicio">
        <ion-icon name="home"></ion-icon>
        <ion-label>Inicio</ion-label>
      </ion-tab-button>

      <ion-tab-button routerLink="/escanear">
        <ion-icon name="barcode-outline"></ion-icon>
        <ion-label>Escanear</ion-label>
      </ion-tab-button>
      <ion-tab-button routerLink="/horario">
        <ion-icon name="time-outline"></ion-icon>
        <ion-label>Horario</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>