<ion-header>
  <ion-toolbar>
    <ion-title>
      Iniciar sesión
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-img src="assets/logo-fondonegro.png" alt="Imagen de encabezado"></ion-img>

  <ion-item>
    <ion-label position="floating">Usuario</ion-label>
    <ion-input type="text" [(ngModel)]="username"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Contraseña</ion-label>
    <ion-input type="password" [(ngModel)]="password"></ion-input>
  </ion-item>

  <ion-button expand="full" (click)="login()">Iniciar sesión</ion-button>

  <div class="ion-text-center">
    <ion-label>¿Olvidaste tu contraseña? <a href="recuperar">Recupérala</a></ion-label>
  </div>

  <div class="ion-text-center">
    <ion-label>¿No tienes cuenta? <a href=" registro ">Regístrate</a></ion-label>
  </div>
</ion-content>
