<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/"></ion-back-button>
        </ion-buttons>
        <ion-title>Portal de Asistencia</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <!-- Repite la estructura utilizando *ngFor para cada asignatura -->
    <ng-container *ngFor="let asignatura of asignaturas; let i = index">
        <div class="text-center mb-3">
            <h3>{{ asignatura.nom_asignatura }}</h3>
            <!-- Barra de progreso con estilos condicionales y evento de clic -->
            <div class="progress" (click)="(i)">
                <div class="progress-bar progress-bar-{{ i + 1 }}" [ngStyle]="{ 'width.%': asignatura.asistencia }"
                    [ngClass]="{
               'bg-danger': asignatura.asistencia <= 50,
               'bg-warning': asignatura.asistencia > 50 && asignatura.asistencia <= 75,
               'bg-success': asignatura.asistencia > 75
             }">
                    {{ asignatura.asistencia }}%
                </div>
            </div>
        </div>
    </ng-container>
</ion-content>